<div class="continer">
<div class="jumbotron" id="average-bp">
  <h1>Average Buy Price:</h1>
   <h2>$<%= @average_buy_price %></h2>
  <br>
</div>

  <div id="transaction-hist">
    <h1>Transaction History</h1><br>
    <small>Transfers In (green) and Out (red)</small><br><br>
    <svg class="chart"></svg>
  </div>
</div>